// File: _layout.scss

// Media queries

p, h1 {
  background-color: inherit;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

.collapse-button {
  display: block;
  border: none;
}

.collapse-content.collapsed {
  display: none;
  border: none;
}

.collapsed-content.expanded {
  display: block;
  border: none;
  max-width: 50%;
  margin: 1rem auto;
}
