// File: _layout.scss

p, h1 {
  background-color: inherit;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

.collapse-button {
  display: block;
  border: none;
}

.collapse-content.collapsed {
  display: none;
  border: none;
}

.collapsed-content.expanded {
  display: block;
  border: none;
  display: flex;
  flex: 1;
}
