// File: _layout.scss

p, h1 {
  background-color: inherit;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

.collapse-button {
  display: block;
  width: 5%;
}

.collapse-content.collapsed {
  display: none;
}

.collapsed-content.expanded {
  display: block;
}
