// variables
// need to decide on a colour scheme
// put colour variables here
$charcoal: #292929;
$lighttan: #eed7a1;
$tan: #cd8b62;
$steel: #8a8583;
$cream: #f7efd3;
$royalblue: #475c6c;


@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,300&display=swap');

* {
  font-family: 'Karla', sans-serif;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 2;
}

// Themes

@mixin navtheme {
  background-color: $lighttan;
  padding: 8px 1rem;
  box-sizing: border-box;
  font-size: 1.1rem;
  font-weight: 600;
  position: relative;
  overflow: hidden;
}

@mixin roundbox {
  border-radius: 16px;
  background-color: $lighttan;
  text-align: center;
  margin: 0 auto;
  width: 200px;
  height: 300px;
}

@mixin container {
  width: 80%;
  padding: 2rem;
  margin: 0 auto;
}

.container {
  @include container;
}

.expand,  p, h2 {
  background-color: inherit;
}

// Nav Component

nav {
  @include navtheme;
}

ul {
  background-color: inherit;
}

li {
  display: inline;
  background-color: inherit;
}

.nav-item {
  padding: 1rem;
  color: inherit;
}

// Header component

.header {
  border-radius: 25px;
  padding: 2rem;
  background-color: $royalblue;
}

// Intro component

.intro {
  border-radius: 25px;
  background-color: $royalblue;
  padding: 2rem;
  text-align: center;
}

.intro-image {
  max-height: auto;
  width: 20%;
}

// Projects component 

.projects {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.project-card {
  @include roundbox;
  padding: 1rem;
}

// Faq component

.faq {
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $tan;
  max-width: 50%;
  padding: 1rem;
  margin: 1rem auto;
}

// Footer component 

.footer {
  background-color: $lighttan;
  padding: 2rem;
}

// Mint countdown component

.mint-countdown {
  text-align: center;
  font-weight: 800;
  background-color: $lighttan;
  padding: 1rem;
}
