// variables
// need to decide on a colour scheme
// put colour variables here

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,300&display=swap');

* {
  font-family: 'Karla', sans-serif;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 2;
}

// Themes

@mixin navtheme {
  background-color: #999;
  padding: 8px 1rem;
  box-sizing: border-box;
  font-size: 1.1rem;
  font-weight: 600;
  position: relative;
  overflow: hidden;
}

@mixin roundbox {
  border-radius: 25px;
  background-color: lightpink;
  text-align: center;
  margin: 0 auto;
  width: 200px;
  height: 300px;
}

// Nav Component

nav {
  @include navtheme;
}

li {
  display: inline;
}

.nav-item {
  margin: 0 auto;
}

// Header component

.header {
  background-color: lightblue;
  padding: 2rem;
}

// Intro component

.intro {
  background-color: lightcoral;
  padding: 2rem;
}

// Projects component 

.projects {
  display: flex;
  flex-direction: row;
  background-color: lightgoldenrodyellow;
  padding: 2rem;
}

.project-card {
  @include roundbox;
}

// Faq component

.faq {
  background-color: lightgreen;
  padding: 2rem;
}

// Footer component 

.footer {
  background-color: lightsteelblue;
  padding: 2rem;
}

// Mint countdown component

.mint-countdown {
  background-color: #5fab5d;
  padding: 1rem;
}